.git
.gitignore
.gitattributes
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!bootstrap/cache/.gitignore
tests
phpunit.xml
.phpunit.cache
*.md
.vscode
.idea
.cursor
*.log
